#{extends 'main.html' /}
#{set title:'Donation Request' /}

<nav class="ui secondary red pointing menu">
  <a class="item" href="/welcome"> Home </a>
  <a class="item" href="/signup"> Signup  </a>
  <a class="item" href="/login">  Log In   </a>
  <a class="active item" href="/donation"> Make Donation </a>
  <a class="item" href="/donation/report"> Report </a>
  <div class="right menu">
    <a class="ui item" href="/login"> Log Out </a>
  </div>
</nav>

<section class="ui segment">
  <h1>Welcome ${user.firstName} </h1>
  <h2>Please give generously</h2>
  
  <form class="ui form" action="donate" method=POST>
    <div class="ui four column grid">
      <div class="column">
        <select name=amountDonated>
          <option value="">Amount</option>
          <option value="100">€100</option>
          <option value="500">€500</option>
          <option value="1000">€1000</option>
        </select>
      </div>
      <div class="column">
        <div class="grouped inline fields">
          <div class="field">
            <div class="ui radio checkbox">
              <input id="paypal" name="methodDonated" value="paypal" checked="checked" type="radio">
              <label for="paypal"> PayPal </label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input id="direct" name="methodDonated" value="direct" type="radio">
              <label for="direct"> Direct </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="ui blue submit button">DONATE
      <i class="add icon"></i>
    </button>
  </form>	
  <div class="ui segment">
    <h4 class="ui header"> Amount of target achieved</h4>
    <div class="ui tiny blue progress">
      <div class="bar" style="width:${progress}"></div>
    </div>
</section>   