#{extends 'main.html' /}
#{set title:'Donation Report' /}

<nav class="ui secondary red pointing menu">
  <a class="item" href="/welcome"> Home </a>
  <a class="item" href="/signup"> Signup  </a>
  <a class="item" href="/login">  Log In   </a>
  <a class="item" href="/donation"> Make Donation </a>
  <a class="active item" href="/donation/report"> Report </a>
  <div class="right menu">
    <a class="ui item" href="/login"> Log Out </a>
  </div>
</nav>

<h4>List Donations</h4>

  <table class="ui table segment">
    <thead>
      <tr>
        <th>Donars</th>
        <th>Amount</th>
        <th>Method donated</th>
        <th>Date donated</th>
      </tr>
    </thead>
    <tbody>
    #{list items:donations, as:'donation'}
      <tr>
        <td>${donation.from.firstName}&nbsp${donation.from.lastName}</td>
        <td>${donation.received}</td>
        <td>${donation.methodDonated}</td>
        <td>${donation.date}</td>
      </tr>
    #{/list}
    </tbody>
  </table> 