#{extends 'main.html' /}
#{set title:'Welcome' /}

<nav class="ui secondary red pointing menu">
  <a class="active item" href="/welcome"> Home </a>
  <a class="item" href="/signup"> Signup  </a>
  <a class="item" href="/login">  Log In   </a>
  <a class="item" href="/donation"> Make Donation </a>
  <a class="item" href="/donation/report"> report </a>
  <div class="right menu">
    <a class="ui item" href="/login"> Log Out </a>
  </div>
</nav>

<section class="ui segment">
  <h1> Welcome </h1>
    <table>
      <tbody>
        <tr>
          <td>
            <p>Homer for president.</p>
            <p>Time for change.</p>
            <p>Out with boring Obama.</p>
            <p>Giving has never been so easy.</p>
            <p>Just click <a href="/login">here</a> to log in.</p>
            <p>Then go to the Donation page and empty your wallet.</p>
          </td>
          <td>
            <img src="/public/images/homer.jpg">
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</section>