#{extends 'main.html' /}
#{set title:'Login to donate to Homer' /}

<nav class="ui secondary red pointing menu">
  <a class="item" href="/welcome"> Home </a>
  <a class="item" href="/signup"> Signup  </a>
  <a class="active item" href="/login">  Log In   </a>
  <a class="item" href="/donation"> Make Donation </a>
  <a class="item" href="/donation/report"> Report </a>
  <div class="right menu">
    <a class="ui item" href="/login"> Log Out </a>
  </div>
</nav>

<section class="ui segment">
  <form action="/authenticate" method="POST">
	<div class="ui two column grid">
	  <div class="column">
        <div class="ui fluid form segment">
          <h1 class="ui header">Log In</h1>
    	  <div class="field">
	        <label> Username: </label>
	        <input type="text" name="email">
	      </div>  
	      <div class="field">
	        <label>  Password: </label>
	        <input type="password" name="password">
	      </div>
	        <button class="ui blue submit button">Login</button>
	    </div>
	  </div>
	</div>
  </form>
</section>