#{extends 'main.html' /}
#{set title:'Signup Page' /}

<nav class="ui secondary red pointing menu">
  <a class="item" href="/welcome"> Home </a>
  <a class="active item" href="/signup"> Signup  </a>
  <a class="item" href="/login">  Log In   </a>
  <a class="item" href="/donation"> Make Donation </a>
  <a class="item" href="/donation/report"> Report </a>
  <div class="right menu">
    <a class="ui item" href="/login"> Log Out </a>
  </div>
</nav>

<section class="ui segment">
  <form action="/register" method="POST">
  <div class=" ui toggle box">
    <input  name="usaCitizen" type="checkbox">
  </div>
    <label for="usaCitizen">Tick to confirm you are a citizen of the USA</label>
  
	  <div class="ui two column grid">
	    <div class="column">
	      <div class="ui fluid form segment">
	        <h1 class="ui header"> Sign Up </h1>
	        <div class="two fields">
              <div class="field">
                <label>First Name</label>
	            <input placeholder="First Name" type="text" name="firstName">
	          </div>
	          <div class="field">
	            <label>Last Name</label>
	            <input placeholder="Last Name" type="text" name="lastName">
	         </div>
	      </div>
          <div class="field">
	        <label>Email</label>
	        <input placeholder="Email" type="text" name="email">
	      </div>
	      <div class="field">
	        <label>Password</label>
	        <input type="password" name="password">
	      </div>
	        <button class="ui blue submit button">Sign up</button>
	    </div>
	  </div>
	</div>
  </form>
</section>  